OUT
*.swp
B_model_input
A_source_code/libs/mocsy/
*.pyc
*__pycache__*
C_spin_up_data/
A_source_code/carbon/startups/*
A_source_code/carbon/startups/start1951.000.pkl
.DS_Store
A_source_code/.DS_Store
A_source_code/carbon/.DS_Store
A_source_code/carbon/code/.DS_Store
A_source_code/core/.DS_Store
A_source_code/generalcode/.DS_Store
A_source_code/generalcode/trunk/.DS_Store
A_source_code/libs/.DS_Store
OUT_copy/

A_source_code/carbon/code/calculate_subgrid_hydro.pyc
A_source_code/carbon/code/dgnm_cell.pyc
A_source_code/carbon/code/dgnm_river.pyc
A_source_code/carbon/code/general_func.pyc
A_source_code/carbon/code/general_path.pyc
A_source_code/carbon/code/make_args.pyc
A_source_code/carbon/code/reactions.pyc
A_source_code/carbon/startups/start1951.000.pkl
A_source_code/core/__pycache__/create_outfiles.cpython-37.pyc
A_source_code/core/__pycache__/define_subgrid_streamorder.cpython-37.pyc
A_source_code/core/__pycache__/file_locking.cpython-37.pyc
A_source_code/core/__pycache__/general_path.cpython-37.pyc
A_source_code/core/__pycache__/interpolate_list.cpython-37.pyc
A_source_code/core/__pycache__/make_cluster_cmd.cpython-37.pyc
A_source_code/core/__pycache__/make_index_species.cpython-37.pyc
A_source_code/core/__pycache__/make_outlakes_dict.cpython-37.pyc
A_source_code/core/__pycache__/make_photo.cpython-37.pyc
A_source_code/core/__pycache__/make_slurm_script.cpython-37.pyc
A_source_code/core/__pycache__/make_y0.cpython-37.pyc
A_source_code/core/__pycache__/vol_depth_vel.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/accuflux.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/ascbitmap.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/ascraster.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/cmd_options_general.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/error.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/general_class.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/get_file_info.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/get_versioninfo.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/interpolate.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/iround.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/manip_netcdf.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/my_logging.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/my_sys.cpython-37.pyc
A_source_code/generalcode/trunk/__pycache__/pointer_class.cpython-37.pyc
A_source_code/generalcode/trunk/accuflux.pyc
A_source_code/generalcode/trunk/ascraster.pyc
A_source_code/generalcode/trunk/error.pyc
A_source_code/generalcode/trunk/general_class.pyc
A_source_code/generalcode/trunk/iround.pyc
A_source_code/generalcode/trunk/my_sys.pyc
A_source_code/generalcode/trunk/pointer_class.pyc
